body,html{
    padding:0;
    margin:0;
    
}
.tpk-header{
    height:auto;
    
    
    
}
#logo{
    width:100px;
    float:left;
}
.banner-color{
    background-color:beige;
    
}
.menu-box{
    width:91%;
    float:left;
    
}
.sub-menu{
    width:91%;
    margin-left:100px;
    
    
}
.menu-list{
    list-style: none;
    width:100%;
    padding:0;
    margin:0;
}
.menu-list>li.show{
    background:#555;
    color:azure;
    
}
.top-1{
    margin-top:-10px;
    
}
.menu-list>li{
    color:black;
    float:left;
    margin-left:10px;
    width:100px;
    padding:10px;
}
.menu-list>li:hover{
    background:#555;
    color:azure;

}
.sub-menu-back{
    position: absolute;
    z-index: 999;
    color: azure;
    display: none;
    
}
.sub-m{
    color:black;
    float:left;
    margin-left:10px;
    width:100px;
    padding:10px;
    text-align: center;
    
}

.tpk-title{
   
    padding-left:20px;
    
}
.tpk-menu{
    font-size: 18px;
}
#banner{
    background-color: #FFF;
    background-image: url("../image/banner.jpg")  ;
    background-size: 100% 100%;
    height:400px;
}
.w100{
    width:100%;
    clear:both;
    background-color:burlywood;
    color:black;
    
}
.tpk-btn{
    
    
}
.banner-text{
    float:left;
    height:100%;
}
.btn-choose div{
    padding-top:20px;
    height:400px;
   
    
    
}
.btn-background{
    background-color: #fff;
    opacity: 0.8;
    position:absolute;
    width:100%;
    height:100%;
    
}
.btn-cont{
    position: absolute;
    z-index:10;
    padding-top:50px;
    
}
.image_back{
    background-color: #fff;
    opacity: 0.8;
    width:500px;
}
.image_back p{
    margin-top:30px;
}
.tpk-class{
    padding:10px;
    border:1px solid #000;
     margin-top:20px;
}
.class-img{
    float:left;
   
}

.class-img p{
     position: absolute;
    z-index: 20;
    border-radius: 50%;
    padding-top: 30px;
    opacity: 0.7;
    font-size: 24px;
    margin-top: 25px;
    margin-left: 25px;
    width: 162px;
    text-align: center;
}
.class-context{
    float:left;
    margin-top:20px;
    margin-left:20px;
}