<!DOCTYPE html>
<html>
<head>
    <title>執行有愛，公益無礙</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="library/angularjs/angular.imageloader.js"></script>
    <script src="js/fuc.js"></script>
    <script src="js/active.js"></script>
    <script src="js/tpk.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/tpk-index.css">
    
</head>
<body ng-app="tpk" ng-controller="tpk_all">
    <div class="col-xs-12">
       <div class="container">
          <div class="row tpk-header" >
                <div id="logo" >
                    <img src="image/tpki_logo.png" width="100px">
                </div>
                <div class='menu-box'>
                   <div class='tpk-title'>
                       <h3 class='col-xs-4 text-left'>法務部行政執行署</h3>
                       <ul class='col-xs-4 col-xs-offset-4 list-inline '>
                           <li>FaceBook</li>
                           <li>執行署官網</li>
                       </ul>
                   </div>
                    <div class="tpk-menu text-right col-xs-12 " >
                    <ul class="menu-list">
                       <li ng-repeat="menu in tpk_menu" ng-mouseover="ch()" ng-mouseover="ch2()"
                        class='{{this.show}}'>{{menu.name}}</li>
                    </ul>
                </div>

                </div>
                
            </div>
        </div>
    </div>
     <div class="col-xs-12 ">
       <div class="container">
          <div class="row tpk-header" >
          <div class="col-xs-12 sub-menu-back top-1" ng-mouseenter="ch3()"ng-mouseout='ch4()' style="background:#555">
                    <div class='sub-menu'>
                        <div ng-repeat="menu in tpk_menu" class='sub-m'>{{menu.name}}</div>
                        
                    </div>
                </div>
           </div>
         </div>
    </div>
    
    
    <div class="col-xs-12 banner-color" >
           <div class="container" id="banner">
           <img>            
        </div>
    </div>
    <div class='w100'>
       <div class="container">
        <div class="col-xs-12 btn-choose">
                <div class="col-xs-5 col-xs-offset-1 text-center">
                       <img width="300px" height="200px;">
                       
                      
                   
                   <p>實體檔案展詳細資訊</p>
                    <div class='col-xs-12 text-center'>
                        <button class='btn-default tpk-btn'>現場展覽</button>
                    </div>
                    </div>
                 <div class="col-xs-5 col-xs-offset-1 text-center" >
                    <img width="300px" height="200px;">
                       
                      
                   
                   <p>線上檔案展詳細資訊</p>
                    
                    <div class='col-xs-12 text-center'>
                    <button class='btn-default tpk-btn'> 線上展覽</button></div>
            </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
       <div class="container">
        <div class='new-exhibition'>
<!--                   替換網頁                -->
            <blockquote>
                <h3>現在展覽場次</h3>
            </blockquote>
            <h4>法務部行政執行署士林分署</h4>
            <ul class="dl-horizontal">
                
                <dt>地址：</dt>
                <dd>11485 台北市內湖區康寧路三段51號(法務部內湖聯合辦公大樓)</dd>
                <dt>電話：</dt>
                <dd>(02)2632-6939 </dd>
            </ul>
            <p>
                 
            </p>
<!--============================================-->
        </div>
        <div class='online-exhibition'  ng-controller="tpk_index">
            <blockquote>
                <h3>線上展覽目錄</h3>
            </blockquote>
            <div class="col-xs-offset-1 col-xs-10 tpk-class" ng-repeat="image in index_show_image">
               <div class='class-img'>
                   <p>{{image.name}}</p>
                   <img ng-src="image/{{image.image}}" width="350px" class='img-thumbnail' height="80px">
               </div>
               <div class='class-context'>
                   <ul class='list-inline' >
                       <li ng-repeat="context in image.context"><a ng-href="{{context.url}}">{{context.name}}</a></li>
                       
                   </ul>
               </div>
            </div>
            
        </div>
        </div>    
    </div>
</body>
</html>
