<!DOCTYPE html>
<html>
<head>
    <title>Untitled Document</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="library/angularjs/angular.imageloader.js"></script>
    <script src="js/fuc.js"></script>
    <script src="js/active.js"></script>
    <script src="js/tpk.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/tpk-index.css">
</head>
<body ng-app="tpk" ng-controller="tpk_all">
    <div class="col-xs-12">
       <div class="container">
          <div class="row tpk-header" >
                <div id="logo" class='col-xs-4'>
                    <img src="image/tpk_logo.png" width="350px">
                </div>
                <div class="tpk-menu text-right col-xs-7 col-xs-offset-1">
                    <ul class="nav navbar-nav">
                        <li><a href='index.html'>首頁</a></li>
                       <li ng-repeat="menu in tpk_menu"><a ng-href="ㄙreindex.html{{menu.url}}" >{{menu.name}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 banner-color" >
           <div class="container" id="banner">
            <div class="banner-text">
                <div class='image_back'> 
                    <img src="image/tpk_logo.png" width="500">
                    <p>
                        測試測試測試測試測試測試測試測試測試測試測試測試測試測試測試測試測試測試測試測試測試
                        
                    </p>
                </div>
               
            </div>
            <div class="banner-btn">
               <div class='btn-background'></div>
               <div class="btn-cont">
                <button class='btn-default tpk-btn'>現場展覽</button>
                <button class='btn-default tpk-btn'> 線上展覽</button>
                </div>
            </div>
            
        </div>
    </div>
    <div class="col-xs-12">
       <div class="container">
        <div class='new-exhibition'>
<!--                   替換網頁                -->
            <blockquote>
                <h3>現在展覽場次</h3>
            </blockquote>
            <h4>法務部行政執行署士林分署</h4>
            <ul class="dl-horizontal">
                
                <dt>地址：</dt>
                <dd>11485 台北市內湖區康寧路三段51號(法務部內湖聯合辦公大樓)</dd>
                <dt>電話：</dt>
                <dd>(02)2632-6939 </dd>
            </ul>
            <p>
                 
            </p>
<!--                ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝-->
        </div>
        <div class='online-exhibition'  ng-controller="tpk_index">
            <blockquote>
                <h3>線上展覽目錄</h3>
            </blockquote>
            <div class="col-xs-offset-1 col-xs-10 tpk-class" ng-repeat="image in index_show_image">
               <div class='class-img'>
                   <p>{{image.name}}</p>
                   <img ng-src="image/{{image.image}}" width="350px" class='img-thumbnail' height="80px">
               </div>
               <div class='class-context'>
                   <ul class='list-inline' >
                       <li ng-repeat="context in image.context"><a ng-href="{{context.url}}">{{context.name}}</a></li>
                       
                   </ul>
               </div>
            </div>
            
        </div>
        </div>    
    </div>
</body>
</html>
